div.module.img-rounded.likes
 div.module-title
  i.icon-list
  strong  #{title_list}
 if(tones!=undefined) 
  - each tone,index in tones 
    if ((index != 0)&&(layout == "station"))||(layout == "profile")
     - tone.type = 'like';
      include tone