extends ../../layouts/default

block nav
  include ../nav/index

block content
  div.container.profile
   div.span12.header
    include module/header
   div.span3.left-column
    include module/leftnav
   div.span9
    include module/stations
    - var tones = user_profile.tones
    - var title_list = "Tones played"
    - var layout = "profile"
     include ../tone/list
    - var tones = user_profile.likes
    - var title_list = "Tones Liked"
    - var layout = "profile"
     include ../tone/listlike
  include ../station/create

block feet
  script(type='text/javascript', src='/javascripts/modal_createstation.js')
  script(type='text/javascript', src='/vendors/ICanHaz/ICanHaz.min.js')
  script(type='text/javascript', src='/javascripts/profile.js')