extends ../layouts/default

block nav
  include nav/nav_nosignin

block content
  div.container.index
    div.front-card
     div.front-welcome-text.span8
      h3 PublicTones
      p listen music with your friends
     div.front-signin.img-rounded.span4
      include login/form/login_form
      //include login/social/login_social
     div.front-signup.img-rounded.span4
      p.front-signup-text
       strong New to Tones?
       |  Sign up
      include signup/form/signup_form
  script(type='text/javascript', src='/javascripts/login.js')
  script(type='text/javascript', src='/javascripts/index.js')