extends layout

block content
  script(type='text/javascript', src='/javascripts/index.js')
  include nav_nosignin
  div.container.login
    div.front-card
     div.front-welcome.span8
      div.front-welcome-text
       h3 Welcome to PublicTones
       p listen music with your friends
     div.front-signin.span4.img-rounded
      include signin_form
     div.front-signup.span4.img-rounded
      p.front-signup-text
       strong New to Tones?
       |  Sign up
      include signup_form