
extends layout

block content
  script(type='text/javascript', src='/javascripts/libs/swfobject.js')
  script(type='text/javascript', src='/javascripts/tones.player.js')
  script(type='text/javascript', src='/javascripts/tones.playlist.js')
  script(type='text/javascript', src='/javascripts/tones.item.js')
  script(type='text/javascript', src='/javascripts/tones.search.js')
  script(type='text/javascript', src='/javascripts/tones.users.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/station.js')
  include nav
  div.container
   div#ytapiplayer.player.img-polaroid 
    div.inner-player There is no videos in the playlist, use the search to add videos in the playlist!
   div.row
    div.span6
     div.user-info
      img(src='/images/avatar.jpg').img-polaroid.avatar
      h1 Hi 
       span#nickname #{user.username}
      p#nb-song you can add 8 more songs
      div#songs
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
       span.badge.badge-important
        i.icon-music.icon-white
     div.navbar.clear
       form.form-inline.navbar-search
        i.icon-search
        input#search_input.search-query(type="text", name="keyword", placeholder="Search new videos")
       ul.nav.nav-pills
        li#menu-users.img-rounded
         a 
          i.icon-user
          span Users
          span.badge 1
        li#menu-comments.img-rounded
         a 
          i.icon-comment
          span Chat
          span.badge 0
     div.search.list.clear
     div.users.list.clear
     div.comments.list.clear
    div.playlist.span6
     h1 Now playing
     div.list
      ul

  