div.user-info.module-inner
  img(src='/images/avatar.jpg', width="65px").img-rounded.avatar
  div.user-info-text
   strong Hi 
    span#nickname #{user.username}
   p#nb-song you can add 8 more songs 
   div#songs
    span.badge.badge-important
     i.icon-music.icon-white
  div.clear