div.social-connect
 a(id="twitter_connect", href="/auth/twitter").sb.sb-small.sb-twitter
  i.icon-twitter
  | Sign in with Twitter
 a(id="facebook_connect", href="/auth/facebook").sb.sb-small.sb-facebook
  i.icon-facebook
  | Sign in with Facebook