doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-ie7.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/social-buttons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/libs/jquery.1.9.1.js')
    script(type='text/javascript', src='/javascripts/libs/swfobject.js')
    script(type='text/javascript', src='/javascripts/libs/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/global.js')
  body.large
    block content