div.navbar.navbar-inverse.navbar-fixed-top
 div.navbar-inner
  div.container
   div.nav-collapse.collapse
    ul.nav.pull-right
     li 
      a(href="/logout") 
       i.icon-off.icon-white
       span logout