div.navbar.navbar-inverse.navbar-fixed-top.nav-station
 div.navbar-inner
  div.container
   div.nav-collapse.collapse
    form.navbar-search
     input.search-query.span5(type="text", placeholder="Search")#search 
    ul.nav.pull-right
     li 
      a(href="/logout") 
       i.icon-off.icon-white
       span logout
