form(action="/login", method='post').form-horizontal.border-bottom
 div.control-group
  div.controls
   input#email(type="text", name="email", placeHolder="Email").email
 div.control-group
  div.controls
   input#password(type="password", name="password", placeHolder="Password").password
   button(type='submit').btn.btn-info Sign in
 div.control-group
  div.controls
   a(href="/forgot")
    small forgot your password?