div.module.img-rounded
 ul.nav.nav-list.profile-sidenav
  li.active#stations
   a(href-"#")
    i.icon-chevron-right
    i.icon-list
    strong Stations
  li#playlist
   a(href-"#")
    i.icon-chevron-right
    i.icon-beer
    strong Tones Played
  li.last#likes
   a(href-"#")
    i.icon-chevron-right
    i.icon-heart
    strong Tones Liked