div.module.img-rounded
 ul.nav.nav-list.profile-sidenav
  li.active
   a(href-"#")
    i.icon-chevron-right
    i.icon-list
    strong Stations
  li
   a(href-"#")
    i.icon-chevron-right
    i.icon-beer
    strong Lastest Tones
  li.last
   a(href-"#")
    i.icon-chevron-right
    i.icon-group
    strong Friends