div.module-title
  i.icon-group
  strong  Connected Users 
  span (#{station.users.length})
 div.module-inner 
  - each connectuser,index in station.users 
   div.connected-user(id="#{connectuser._id}")
    a(href="#",data-toggle="tooltip",title="#{connectuser.username}")
     img(src='/images/avatar.jpg', width="40px").img-rounded.avatar