div.module-title
 i.icon-comments
 strong  Chat
textarea(row="3",placeHolder="your message").comment
div.module-inner
 - each message,index in station.messages 
  if index != 0
   include tone_message