doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendors/font-awesome/css/font-awesome-ie7.min.css')
    link(rel='stylesheet', href='/vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/social-buttons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block neck
  body
    block nav
    block content
    script(type='text/javascript', src='/vendors/jquery/jquery.1.9.1.js')
    script(type='text/javascript', src='/vendors/swfobject/swfobject.js')
    script(type='text/javascript', src='/vendors/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/global.js')
    block feet